.a {
  color: #00B7FF;
}
.box{ width: 800px;
    height: 100px;
    border-radius: 25px;
    padding: 10px;
    border: 2px solid gray;
    margin: 0 auto;
    display: block;
  }
  .translucent{
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194);
    width: 765px
  }
.darkmode--activated #cost {
  background-color: black;
  border-color: grey;
}
.darkmode--activated #title {
  background-color: black;
  border-color: grey;
}
.darkmode--activated #url {
  background-color: black;
  border-color: grey;
}
.darkmode--activated #comment {
  background-color: black;
  border-color: grey;
}
.darkmode--activated #provider {
  background-color: black;
  border-color: grey;
}
.darkmode--activated #TCH {
  background-color: black;
  border-color: grey;
}
.darkmode--activated #BOO {
  background-color: black;
  border-color: grey;
}
.darkmode--activated #image {
  -webkit-filter: invert(1); 
  filter: invert(1);
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  outline: none;
  padding: 10px;
  border: 0px;
  margin: center;
}
.arrow {
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 7px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.arrow_pos {
    float: right;
    position: relative;
}
.darkmode--activated #image {
  -webkit-filter: invert(1); 
  filter: invert(1);
}
.darkmode--activated .modal-title{
    color:lightgrey;
}
.darkmode--activated .modal-body{
    color:lightgrey;
}

    /*****************************************************************
        Creating the container specifications the contains the results
    *****************************************************************/
    .results {
        margin-top: 25px;
    }

    /*****************************************************************
        Creating the container specifications the contains each
        individual result
    *****************************************************************/


    /* Position */
    .tag_pos {
        float: right;
        /*position: relative;
        right: 10px;
        bottom: 10px;*/
    }

    .tag_pos2 {
        float: left;
        position: relative;
        left: 10px;
    }

    .tag_pos3 {
        float: left;
        position: relative;
        left: 12px;
    }

    .tag_pos4 {
        float: left;
        position: relative;
        left: 14px;
    }

    .tag_pos_rating{
        float: right;
        position: relative;
        right: 10px;
    }

    .collapsible-heading_pos {
        float: left;
        position: relative;
        left: 10px;
    }

    .arrow_pos {
        float: right;
        position: relative;
    }

    .endOfResults{
        text-align: center;
    }

    /* Container Style*/
    .item {
        border-width: 1px;
        border-style: solid;
        border-color: black;
    }

    .vote_style{
        cursor: pointer;
        border: ridge;
        border-color: #718F8A;
    }

    .vote_container{
        text-align: right;
        position: relative;
        right: 15px;
    }

    .collapsible {
        background-color: #eee;
        cursor: pointer;
        width: 100%;
        border: none;
        outline: none;
    }

    .focus_collapsible {
        background-color: #aaa;
    }

    .hover_collapsible {
        background-color: #aaa;
    }

    .navbar-container{
        border-bottom: solid;
        border-bottom-width: 1px
    }

    /* Text Attributes */
    .collapsible-heading {
        font-size: 25px;
        color: #232323;
        font-weight: 500;
    }

    .inner_collapse{
        cursor: pointer;
        width: 25%;
        border: none;
        outline: none;
        padding: 10px
    }

    .collapsible-heading2 {
        font-size: 25px;
        color: #232354;
        font-weight: 200;
    }

    .comment-syle{
        text-align: left;
    }

    .tag_style {
        font-size: 15px;
        background-color: #003042;
    }
    /*****************************************************************
        Creating the specifications or other elements on the page
    *****************************************************************/
    .arrow {
        border: solid black;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 7px;
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .pos {
        position: absolute;
        top: 90px;
        right: 20px;
        font-weight: 500;
        font-size: 17px
    }

    .secret{
        visibility: hidden;
    }


.darkmode--activated #titlewhite {
  color: white;
}
   .darkmode--activated #learningtypewhite {
  color: Gray;
}
   .darkmode--activated #diffwhite {
  color: Black;
}
   .darkmode--activated #remoteblack {
  color: Black;
}
   .darkmode--activated #selfblack {
  color: Black;
}
   .darkmode--activated #publicblack {
  color: Black;
}
   .darkmode--activated #helprating {
  color: black;
}
   .darkmode--activated #filter {
  color: white;
}
.darkmode--activated .modal-title{
    color:lightgrey;
}
.darkmode--activated .modal-body{
    color:lightgrey;
}
.darkmode--activated #darktitle{
    color:lightgrey;
}
.darkmode--activated #darklearning{
    color:lightgrey;
}

.darkmode--activated .arrow {
  -webkit-filter: invert(1); 
  filter: invert(1);
}
.darkmode--activated #image {
  -webkit-filter: invert(1); 
  filter: invert(1);
}
/* change the background color */
.navbar-custom {
    background-color: white;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: black;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: black;
}

/* change the background color */
.darkmode--activated .navbar-custom,
.darkmode--activated .nav_contents{
    background-color: rgb(12, 12, 12);
}

/* change the brand and text color */
.darkmode--activated .navbar-custom .navbar-brand ,
.darkmode--activated .navbar-custom .navbar-text{
    color: white;
}

/* change the link color */
.darkmode--activated .navbar-custom .navbar-nav .nav-link{
    color: white;
}

/* change the color of active or hovered links */
.darkmode--activated .navbar-custom .nav-item.active .nav-link,
.darkmode--activated .navbar-custom .nav-item:focus .nav-link,
.darkmode--activated .navbar-custom .nav-item:hover .nav-link{
    color: white;
}

.darkmode--activated .dropdown-menu{
    background-color:rgb(10, 10, 10);
    border-color: grey;
}
.darkmode--activated .form-check-label{
    color:white;
}
ul1 {
  list-style: none;
  padding: 5px; 
}
li1{
    display: inline;
    background-color: rgb(241, 239, 239);
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px; 
}

.close {
  cursor: pointer;
  padding: 2px;
}

.close:hover {background: #bbb;}


.darkmode--activated #image {
  -webkit-filter: invert(1); 
  filter: invert(1);
}
.darkmode--activated .modal-title{
    color:lightgrey;
}
.darkmode--activated .modal-body{
    color:lightgrey;
}

.clicky {
    cursor: pointer;
}

.darkmode--activated .dropdown-menu{
    background-color:rgb(10, 10, 10);
    border-color: grey;
}
.darkmode--activated .form-check-label{
    color:white;
}

/* change the background color */
.navbar-custom {
    background-color: white;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: black;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: black;
}

/* change the background color */
.darkmode--activated .navbar-custom{
    background-color: black;
}

/* change the brand and text color */
.darkmode--activated .navbar-custom .navbar-brand ,
.darkmode--activated .navbar-custom .navbar-text{
    color: white;
}

/* change the link color */
.darkmode--activated .navbar-custom .navbar-nav .nav-link{
    color: white;
}

/* change the color of active or hovered links */
.darkmode--activated .navbar-custom .nav-item.active .nav-link,
.darkmode--activated .navbar-custom .nav-item:focus .nav-link,
.darkmode--activated .navbar-custom .nav-item:hover .nav-link{
    color: white;
}
.test{
    height: 200px;}
.darkmode--activated #image {
  -webkit-filter: invert(1); 
  filter: invert(1);
}
.darkmode--activated .modal-title{
    color:lightgrey;
}
.darkmode--activated .modal-body{
    color:lightgrey;
}

