<style>
  .box{ width: 800px;
    height: 100px;
    border-radius: 25px;
    padding: 10px;
    border: 2px solid gray;
    margin: 0 auto;
    display: block;
  }

  .translucent{
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194);
    width: 765px
  }

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  outline: none;
  padding: 10px;
  border: 0px;
  margin: center;
}

</style>

<script>
$('.nav-item-c a').addClass("active");
</script>



<div class="container">
<section class="insert">
    <br>
	<div class="row">
		<div class="col d-flex justify-content-center">
			<h1 class="display-3">New Data Point</h1>
		</div>
	</div>
	<br>
	<form action="/insert" method="post">
	<div class="row mb-2">
		<div class="col">
			<input type="text" id="title" name="title" class="form-control" placeholder="Title" aria-label="title">
		</div>
		<div class="col">
			<input type="text" id="url" name="url" class="form-control" placeholder="URL" aria-label="url">
		</div>
	</div>
	<div class="row mb-2">
		<div class="col">
			<input type="text" id="TCH" name="TCH" class="form-control" placeholder="Time Commitment (Hours)" aria-label="TCH">
		</div>
		<div class="col">
			<input type="text" id="cost" name="cost" class="form-control" placeholder="Cost in $" aria-label="cost">
		</div>
		<div class="col" align="center">
			<div class="btn-group d-flex" role="group" aria-label="Self paced or instructor led">
				<input class="btn-check" type="radio" name="SPIL" id="SPILself" value="Self-Paced"> 
				<label class="btn btn-outline-secondary" for="SPILself">
					Self-Paced
				</label>
				<input class="btn-check" type="radio" name="SPIL" id="SPILins" value="Instructor Led">
				<label class="btn btn-outline-secondary" for="SPILins">
					Instructor Led
				</label>
			</div>	
		</div>
		<div class="col" align="center">
			<div class="btn-group d-flex" role="group" aria-label="Does training offer Certificate or Degree" id="CDP">
				<input class="btn-check" type="checkbox" name="CDP" value="Certificate" id="CDPCert">
				<label class="btn btn-outline-secondary" for="CDPCert">
					Certificate
				</label>			
				<input class="btn-check" type="checkbox" name="CDP" value="Degree" id="CDPDeg">
				<label class="btn btn-outline-secondary" for="CDPDeg">
					Degree
				</label>
			</div>	
		</div> 
	</div>
	<div class="row mb-2">
		<div class="btn-group d-flex" role="group" aria-label="Barrier to Entry Select" id="BE">
			<input type="radio" class="btn-check" name="BE" id="BEBeg" autocomplete="off" value="Beginner" checked>
			<label class="btn btn-outline-secondary" for="BEBeg">Beginner</label>
			<input type="radio" class="btn-check" name="BE" id="BEInter" autocomplete="off" value="Intermediate">
			<label class="btn btn-outline-secondary" for="BEInter">Intermediate</label>
			<input type="radio" class="btn-check" name="BE" id="BEAdv" autocomplete="off" value="Advanced" >
			<label class="btn btn-outline-secondary" for="BEAdv">Advanced</label>
			<input type="radio" class="btn-check" name="BE" id="BEExp" autocomplete="off" value="Expert" >
			<label class="btn btn-outline-secondary" for="BEExp">Expert</label>
		</div>
	</div>
	<div class="row mb-2">
		<div class="col">
			<div class="btn-group d-flex" role="group" aria-label="Public or DOD" id="PDOD">
				<input type="radio" class="btn-check" name="PDOD" id="PDODP" autocomplete="off" value="Public" checked>
				<label class="btn btn-outline-secondary" for="PDODP">Public</label>
				<input type="radio" class="btn-check" name="PDOD" id="PDODD" autocomplete="off" value="DOD">
				<label class="btn btn-outline-secondary" for="PDODD">DOD</label>
			</div>
		</div>
		<div class="col">	
			<input type="text" id="provider" name="provider" class="form-control" placeholder="Service/Training Provider" aria-label="Provider">
		</div>
		<div class="col">	
			<input type="text" id="BOO" name="BOO" class="form-control" placeholder="Location of Provider" aria-label="Location of Provider">
		</div>
	</div>
	<div class="row mb-2">
		<div class="col-4">
			<div class="btn-group d-flex" role="group" aria-label="In Person or Remote" id="PR">
				<input type="radio" class="btn-check" name="PR" id="PRR" autocomplete="off" value="Remote" checked>
				<label class="btn btn-outline-secondary" for="PRR">Remote</label>
				<input type="radio" class="btn-check" name="PR" id="PRP" autocomplete="off" value="In Person">
				<label class="btn btn-outline-secondary" for="PRP">In Person</label>
			</div>
		</div>
		<div class="col">
			<div class="btn-group d-flex" role="group" aria-label="Learning Type" id="LT">
				<input class="btn-check" type="checkbox" name="LT" value="Text" id="LTT">
				<label class="btn btn-outline-secondary" for="LTT">Text</label>
				<input class="btn-check" type="checkbox" name="LT" value="Video" id="LTV">
				<label class="btn btn-outline-secondary" for="LTV">Video</label>
				<input class="btn-check" type="checkbox" name="LT" value="Book" id="LTB">
				<label class="btn btn-outline-secondary" for="LTB">Book</label>
				<input class="btn-check" type="checkbox" name="LT" value="Lecture" id="LTL">
				<label class="btn btn-outline-secondary" for="LTL">Lecture</label>
				<input class="btn-check" type="checkbox" name="LT" value="Classroom" id="LTC">
				<label class="btn btn-outline-secondary" for="LTC">Classroom</label>
				<input class="btn-check" type="checkbox" name="LT" value="Interactive" id="LTI">
				<label class="btn btn-outline-secondary" for="LTI">Interactive</label>
			</div>
		</div>
	</div>
	<div class="row mb-2">
		<div class="col">
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="collapsible" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							<small class="text-muted" style="vertical-align: top;">Data Topics</small>	
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mb-2">
		<div class="col">
  			<textarea class="form-control" id="comment" name="comment" placeholder="Put any comments here"  rows="3"></textarea>
		</div>
	</div>



     
 	<div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" style="margin:20px" class="btn btn-secondary">Submit</button>
	</div>
</form>
</section>

    <div style="position: static; bottom: 0; width:100%; text-align: center">
        <p>Distribution Statement A: Approved for Public Release; distribution unlimited.</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

