<style>
  .box{ width: 800px;
    height: 100px;
    border-radius: 25px;
    padding: 10px;
    border: 2px solid gray;
    margin: 0 auto;
    display: block;
  }

  .translucent{
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194);
    width: 765px
  }

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  outline: none;
  padding: 10px;
  border: 0px;
  margin: center;
}



</style>

<script>
$('.nav-item-c a').addClass("active");


</script>


<div class="container">
<section class="insert">
    <br>
	<div class="row">
		<div class="col d-flex justify-content-center">
			<h1 class="display-3">New Data Point</h1>
      <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
        title="Enter your desired terms and specify the field, then click Submit to show a list of resources.">
        <button type="button" class="btn" data-toggle="tooltip" disabled>
          <img src="images/Help_Icon.png" alt="help">
        </button>
      </span>
		</div>
	</div>
	<br>
	<form action="/insert" method="post">
	<div class="row mb-2">
		<div class="col">
			<input type="text" id="title" name="title" class="form-control" placeholder="Title" aria-label="title">
		</div>
		<div class="col">
			<input type="text" id="url" name="url" class="form-control" placeholder="URL" aria-label="url">
		</div>
	</div>
	<div class="row mb-2">
		<div class="col">
			<input type="text" id="TCH" name="TCH" class="form-control" placeholder="Time Commitment (Hours)" aria-label="TCH">
		</div>
		<div class="col">
			<input type="text" id="cost" name="cost" class="form-control" placeholder="Cost in $" aria-label="cost">
		</div>
		<div class="col" align="center">
			<div class="btn-group d-flex" role="group" aria-label="Self paced or instructor led" id="SPIL">
				<input class="btn-check" type="radio" name="SPIL" id="SPILself" value="Self-Paced"> 
				<label class="btn btn-outline-secondary" for="SPILself">
					Self-Paced
				</label>
				<input class="btn-check" type="radio" name="SPIL" id="SPILins" value="Instructor Led">
				<label class="btn btn-outline-secondary" for="SPILins">
					Instructor Led
				</label>
			</div>	
		</div>
		<div class="col" align="center">
			<div class="btn-group d-flex" role="group" aria-label="Does training offer Certificate or Degree" id="CDP">
				<input class="btn-check" type="checkbox" name="CDP" value="Certificate" id="CDPCert">
				<label class="btn btn-outline-secondary" for="CDPCert">
					Certificate
				</label>			
				<input class="btn-check" type="checkbox" name="CDP" value="Degree" id="CDPDeg">
				<label class="btn btn-outline-secondary" for="CDPDeg">
					Degree
				</label>
			</div>	
		</div> 
	</div>
	<div class="row mb-2">
		<div class="btn-group d-flex" role="group" aria-label="Barrier to Entry Select" id="BE">
			<input type="radio" class="btn-check" name="BE" id="BEBeg" autocomplete="off" value="Beginner" checked>
			<label class="btn btn-outline-secondary" for="BEBeg">Beginner</label>
			<input type="radio" class="btn-check" name="BE" id="BEInter" autocomplete="off" value="Intermediate">
			<label class="btn btn-outline-secondary" for="BEInter">Intermediate</label>
			<input type="radio" class="btn-check" name="BE" id="BEAdv" autocomplete="off" value="Advanced" >
			<label class="btn btn-outline-secondary" for="BEAdv">Advanced</label>
			<input type="radio" class="btn-check" name="BE" id="BEExp" autocomplete="off" value="Expert" >
			<label class="btn btn-outline-secondary" for="BEExp">Expert</label>
		</div>
	</div>
	<div class="row mb-2">
		<div class="col">
			<div class="btn-group d-flex" role="group" aria-label="Public or DOD" id="PDOD">
				<input type="radio" class="btn-check" name="PDOD" id="PDODP" autocomplete="off" value="Public" checked>
				<label class="btn btn-outline-secondary" for="PDODP">Public</label>
				<input type="radio" class="btn-check" name="PDOD" id="PDODD" autocomplete="off" value="DOD">
				<label class="btn btn-outline-secondary" for="PDODD">DOD</label>
			</div>
		</div>
		<div class="col">	
			<input type="text" id="provider" name="provider" class="form-control" placeholder="Service/Training Provider" aria-label="Provider">
		</div>
		<div class="col">	
			<input type="text" id="BOO" name="BOO" class="form-control" placeholder="Location of Provider" aria-label="Location of Provider">
		</div>
	</div>
	<div class="row mb-2">
		<div class="col-4">
			<div class="btn-group d-flex" role="group" aria-label="In Person or Remote" id="PR">
				<input type="radio" class="btn-check" name="PR" id="PRR" autocomplete="off" value="Remote" checked>
				<label class="btn btn-outline-secondary" for="PRR">Remote</label>
				<input type="radio" class="btn-check" name="PR" id="PRP" autocomplete="off" value="In Person">
				<label class="btn btn-outline-secondary" for="PRP">In Person</label>
			</div>
		</div>
		<div class="col">
			<div class="btn-group d-flex" role="group" aria-label="Learning Type" id="LT">
				<input class="btn-check" type="checkbox" name="LT" value="Text" id="LTT">
				<label class="btn btn-outline-secondary" for="LTT">Text</label>
				<input class="btn-check" type="checkbox" name="LT" value="Video" id="LTV">
				<label class="btn btn-outline-secondary" for="LTV">Video</label>
				<input class="btn-check" type="checkbox" name="LT" value="Book" id="LTB">
				<label class="btn btn-outline-secondary" for="LTB">Book</label>
				<input class="btn-check" type="checkbox" name="LT" value="Lecture" id="LTL">
				<label class="btn btn-outline-secondary" for="LTL">Lecture</label>
				<input class="btn-check" type="checkbox" name="LT" value="Classroom" id="LTC">
				<label class="btn btn-outline-secondary" for="LTC">Classroom</label>
				<input class="btn-check" type="checkbox" name="LT" value="Interactive" id="LTI">
				<label class="btn btn-outline-secondary" for="LTI">Interactive</label>
			</div>
		</div>
	</div>
	<div class="row mb-2">
		<div class="col">
			<div class="accordion" id="accordionExample">
				<div class="accordion-item" id="DPA">
					<h2 class="accordion-header" id="headingOne">
						<button class="collapsible" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							<small class="text-muted" style="vertical-align: top;">Programs, Languages, and other Data Topics</small>	
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body" >
							<div class="btn-group d-flex row row-cols-lg-6 row-cols-auto" role="group" aria-label="Data Topic Select Menus" id="DTA">
								<input class="btn-check" type="checkbox" name="DTA" value="Data Science" id="DTADataSci">
								<label class="btn btn-outline-secondary" for="DTADataSci">Data Science</label>
								<input class="btn-check" type="checkbox" name="DTA" value="Tutorial" id="DTATut">
								<label class="btn btn-outline-secondary" for="DTATut">Tutorial</label>
								<input class="btn-check" type="checkbox" name="DTA" value="AI/Machine Learning" id="DTAAI">
								<label class="btn btn-outline-secondary" for="DTAAI">Machine Learning</label>
								<input class="btn-check" type="checkbox" name="DTA" value="Coding" id="DTACode">
								<label class="btn btn-outline-secondary" for="DTACode">Coding</label>
								<input class="btn-check" type="checkbox" name="DTA" value="Computer Skills" id="DTAComSkil">
								<label class="btn btn-outline-secondary" for="DTAComSkil">Computer Skills</label>
								<input class="btn-check" type="checkbox" name="DTA" value="Program Skills" id="DTAProSkil">
								<label class="btn btn-outline-secondary" for="DTAProSkil">Program Skills</label>
							</div>
							<div class="btn-group d-flex row row-cols-lg-6 row-cols-auto" role="group" aria-label="Language and Program Select Menus" id="LPS">
								<input class="btn-check" type="checkbox" name="LPS" value="Microsoft Office" id="LPSOffice">
								<label class="btn btn-outline-secondary" for="LPSOffice">Microsoft Office</label>
								<input class="btn-check" type="checkbox" name="LPS" value="Excel" id="LPSExcel">
								<label class="btn btn-outline-secondary" for="LPSExcel">Excel</label>
								<input class="btn-check" type="checkbox" name="LPS" value="Word" id="LPSWord">
								<label class="btn btn-outline-secondary" for="LPSWord">Word</label>
								<input class="btn-check" type="checkbox" name="LPS" value="Flank Speed" id="LPSFlank">
								<label class="btn btn-outline-secondary" for="LPSFlank">Flank Speed</label>
								<input class="btn-check" type="checkbox" name="LPS" value="PowerPoint" id="LPSPower">
								<label class="btn btn-outline-secondary" for="LPSPower">PowerPoint</label>
								<input class="btn-check" type="checkbox" name="LPS" value="OneDrive" id="LPSOneD">
								<label class="btn btn-outline-secondary" for="LPSOneD">OneDrive</label>
								<input class="btn-check" type="checkbox" name="LPS" value="Python" id="LPSPy">
								<label class="btn btn-outline-secondary" for="LPSPy">Python</label>
								<input class="btn-check" type="checkbox" name="LPS" value="Java" id="LPSJava">
								<label class="btn btn-outline-secondary" for="LPSJava">Java</label>
								<input class="btn-check" type="checkbox" name="LPS" value="Javascript" id="LPSJavas">
								<label class="btn btn-outline-secondary" for="LPSJavas">Javascript</label>
								<input class="btn-check" type="checkbox" name="LPS" value="C / C+" id="LPSC">
								<label class="btn btn-outline-secondary" for="LPSC">C/C++</label>
								<input class="btn-check" type="checkbox" name="LPS" value="R" id="LPSR">
								<label class="btn btn-outline-secondary" for="LPSR">R</label>
								<input class="btn-check" type="checkbox" name="LPS" value="Julia" id="LPSJulia">
								<label class="btn btn-outline-secondary" for="LPSJulia">Julia</label>
								<input class="btn-check" type="checkbox" name="LPS" value="Matlab" id="LPSMat">
								<label class="btn btn-outline-secondary" for="LPSMat">Matlab</label>
								<input class="btn-check" type="checkbox" name="LPS" value="LabVIEW" id="LPSLabv">
								<label class="btn btn-outline-secondary" for="LPSLabv">Labview</label>
								<input class="btn-check" type="checkbox" name="LPS" value="Simulink" id="LPSSimu">
								<label class="btn btn-outline-secondary" for="LPSSimu">Simulink</label>
								<input class="btn-check" type="checkbox" name="LPS" value="SAS" id="LPSSAS">
								<label class="btn btn-outline-secondary" for="LPSSAS">SAS</label>
								<input class="btn-check" type="checkbox" name="LPS" value="COMSOL" id="LPSCOMSOL">
								<label class="btn btn-outline-secondary" for="LPSCOMSOL">COMSOL</label>
								<input class="btn-check" type="checkbox" name="LPS" value="Rhino" id="LPSRhino">
								<label class="btn btn-outline-secondary" for="LPSRhino">Rhino</label>
							</div>	
							<div class="row mx-auto mt-3">
								<input type="text" id="DTAOther" name="DTA" class="form-control" placeholder="Other" aria-label="Other">
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mb-2">
		<div class="col">
  			<textarea class="form-control" id="comment" name="comment" placeholder="Put any comments here"  rows="3"></textarea>
		</div>
	</div>



     
 	<div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" style="margin:20px" class="btn btn-secondary">Submit</button>
	</div>

    
</form>
</section>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

