<style>
  .box{ width: 800px;
    height: 100px;
    border-radius: 25px;
    padding: 10px;
    border: 2px solid gray;
    margin: 0 auto;
    display: block;
  }

  .translucent{
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194);
    width: 765px
  }

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  outline: none;
  padding: 10px;
  border: 0px;
  margin: center;
}
    .arrow {
        border: solid black;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 7px;
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .arrow_pos {
        float: right;
        position: relative;
    }



</style>

<script>
//Call to Navigation Bar to show current page is active
$('.nav-item-c a').addClass("active");





</script>


<div class="container">
    <section class="insert">
        <br>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <!-- Title Header -->
                <h1 class="display-3">New Data Point</h1>

                <!-- Button to call on Main Help Tutorial Modal -->
                <span class="d-inline-block" data-toggle="modal" data-target="#myModal1">
                    <button type="button" class="btn" data-container="body" data-toggle="modal" id="help" disabled>
                        <img src="images/Help_Icon.png" alt="help">
                    </button>
                </span>

                <!-- Contents of Main Modal for Help Tutorial -->
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Tutorial Help</h4>
                            </div>

                            <div class="modal-body">
                                <p>To add your own training resource into the database, please input all the information
                                    required.</p>
                                <p><b>Don't understand what a specific data input does? </b>
                                    <br>
                                    Click on following buttons below for an explanation on that input data point.</p>

                                <!-- Buttons for Secondary Models to explain specific categories. It is divided to match how the form looks. -->
                                <div class="btn-group d-flex" role="group" aria-label="First Row">
                                    <button type="button" class="btn btn-outline-secondary" data-target="#myModalTitle"
                                            data-toggle="modal" data-dismiss="modal">Title
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary" data-target="#myModalURL"
                                            data-toggle="modal" data-dismiss="modal">URL
                                    </button>
                                </div>
                                <div class="btn-group d-flex" role="group" aria-label="Second Row">
                                    <button type="button" class="btn btn-outline-secondary" data-target="#myModalTC"
                                            data-toggle="modal" data-dismiss="modal">Time
                                        Commitment
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary" data-target="#myModalCost"
                                            data-toggle="modal" data-dismiss="modal">Costs
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary" data-target="#myModalPacing"
                                            data-toggle="modal" data-dismiss="modal">
                                        Pacing
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary" data-target="#myModalCert"
                                            data-toggle="modal" data-dismiss="modal">
                                        Certifications
                                    </button>
                                </div>
                                <div class="btn-group d-flex" role="group" aria-label="Third Row">
                                    <button type="button" class="btn btn-outline-secondary" data-target="#myModalExp"
                                            data-toggle="modal" data-dismiss="modal">
                                        Experience Level
                                    </button>
                                </div>
                                <div class="btn-group d-flex" role="group" aria-label="Fourth Row">
                                    <button type="button" class="btn btn-outline-secondary" data-target="#myModalClear"
                                            data-toggle="modal" data-dismiss="modal">
                                        Clearance
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary"
                                            data-target="#myModalProvider" data-toggle="modal" data-dismiss="modal">
                                        Provider
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary" data-target="#myModalLoc"
                                            data-toggle="modal" data-dismiss="modal">
                                        Provider Location
                                    </button>
                                </div>
                                <div class="btn-group d-flex" role="group" aria-label="Fifth Row">
                                    <button type="button" class="btn btn-outline-secondary" data-target="#myModalMed"
                                            data-toggle="modal" data-dismiss="modal">
                                        Medium
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary"
                                            data-target="#myModalLearning" data-toggle="modal" data-dismiss="modal">
                                        Learning Type
                                    </button>
                                </div>
                                <div class="btn-group d-flex" role="group" aria-label="Sixth Row">
                                    <button type="button" class="btn btn-outline-secondary" data-target="#myModalKey"
                                            data-toggle="modal" data-dismiss="modal">
                                        Keywords
                                    </button>
                                    <br>
                                </div>
                                <div class="btn-group d-flex" role="group" aria-label="Seventh Row">
                                    <button type="button" class="btn btn-outline-secondary" data-target="#myModalCom"
                                            data-toggle="modal" data-dismiss="modal">
                                        Comments
                                    </button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Contents of Secondary Modals -->
                <!-- Title Modal -->
                <div class="modal fade" id="myModalTitle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Title</h4>
                            </div>
                            <div class="modal-body">
                                The "Title" input is where you put the name for the training resource.
                                (e.g. Python Tutorials, Intro to Machine Learning)
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-target="#myModal1"
                                        data-toggle="modal" data-dismiss="modal">
                                    Go Back
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- URL Modal -->
                <div class="modal fade" id="myModalURL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">URL</h4>
                            </div>
                            <div class="modal-body">
                                The "URL" input is where you put the hyperlinks that directs you to the training
                                resource. (e.g. www.youtube.com. www.udemy.com)
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-target="#myModal1"
                                        data-toggle="modal" data-dismiss="modal">
                                    Go Back
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Time Commitment Modal -->
                <div class="modal fade" id="myModalTC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Time Commitment</h4>
                            </div>
                            <div class="modal-body">
                                The "Time Commitment (Hours)" input where you put how long it took for you to finish the
                                resources. If the resource does not time required (e.g. Video Length, Time Completion
                                Estimate), please input a rough estimate of how long it took you to finish the
                                training resource.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-target="#myModal1"
                                        data-toggle="modal" data-dismiss="modal">
                                    Go Back
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cost Modal -->
                <div class="modal fade" id="myModalCost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Cost</h4>
                            </div>
                            <div class="modal-body">
                                The "Cost in $" input is where you put in how much money you paid to finish this
                                resource (i.e $50, $100). Please only put numbers and do not add the "$" symbol. If the
                                resource is free, please put in "0".
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-target="#myModal1"
                                        data-toggle="modal" data-dismiss="modal">
                                    Go Back
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pacing Modal for the Self-pad and Instructor Led Buttons -->
                <div class="modal fade" id="myModalPacing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Pacing</h4>
                            </div>
                            <div class="modal-body">
                                <p>The "Self-Paced" and "Instructor Led" buttons is where you choose whether the
                                    training
                                    resource is one of the two.</p>
                                <p><b>Self-Paced</b> is for resources that go on your time. It is for resources where
                                    the
                                    user decides how fast or slaw they can go.</p>
                                <p><b>Instructor Led</b> is for resources that have a teacher that decides the pace of
                                    learning.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-target="#myModal1"
                                        data-toggle="modal" data-dismiss="modal">
                                    Go Back
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Certification Modal for Certificate and Degree Buttons -->
                <div class="modal fade" id="myModalCert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Certifications</h4>
                            </div>
                            <div class="modal-body">
                                <p>Some training resources offer tangible evidence showing that you finished the
                                    training.
                                    Please specify if you can acquire a <b>"Certificate"</b>, <b>"Degree"</b>, or both
                                    while
                                    undergoing the training.</p>
                                <p>If the resource does not apply to either, please do nothing and go to the next
                                    section.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-target="#myModal1"
                                        data-toggle="modal" data-dismiss="modal">
                                    Go Back
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Experience Modal for Beginner, Intermediate, Advanced, and Expert -->
                <div class="modal fade" id="myModalExp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Experience Level</h4>
                            </div>
                            <div class="modal-body">
                                <p>Some training resources require the user to have prerequisites or have knowledge of
                                    the
                                    topic before taking their resource. This is where you specify what level a person
                                    needs
                                    to be to understand the course.</p>
                                <p><b>Beginner</b> is those who are learning the topic for the first time and have no
                                    prior
                                    experience of the topic.</p>
                                <p><b>Intermediate</b> is those who have some knowledge of the topic but are not
                                    proficient
                                    in it.</p>
                                <p><b>Advanced</b> is those who are proficient in the topics and can fully understand
                                    real-life examples.</p>
                                <p><b>Expert</b> is those who are actively working in the field of the topic and
                                    understand
                                    leading edge examples.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-target="#myModal1"
                                        data-toggle="modal" data-dismiss="modal">
                                    Go Back
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Clearance Model for Public and DoD buttons. -->
                <div class="modal fade" id="myModalClear" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Clearance</h4>
                            </div>
                            <div class="modal-body">
                                <p>The "Public" and "DOD" button are used to specify where you are able to access this
                                    resource.</p>
                                <p><b>Public</b> is for resources where you can access in internet with no sercurity
                                    concerns.</p>
                                <p><b>DOD</b> is for resources that are protected by the government and they can only be
                                    accessed on base or through a CAC.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-target="#myModal1"
                                        data-toggle="modal" data-dismiss="modal">
                                    Go Back
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Provider Modal -->
                <div class="modal fade" id="myModalProvider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Provider</h4>
                            </div>
                            <div class="modal-body">
                                The "Service/Training Provider" input is where you put which person/company is offering
                                the training resource. (e.g. Google, Linkedin)
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-target="#myModal1"
                                        data-toggle="modal" data-dismiss="modal">
                                    Go Back
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Location of Provider Modal -->
                <div class="modal fade" id="myModalLoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Location</h4>
                            </div>
                            <div class="modal-body">
                                <p>The "Location of Provider" input is where you put where the provider's headquarters
                                    location. (e.g. United States, Japan)</p>
                                <p><b>Please make sure that the resource you are adding does not originate from an
                                    adversary state. (e.g. China, Russia)</b></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-target="#myModal1"
                                        data-toggle="modal" data-dismiss="modal">
                                    Go Back
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Placement Modal for the the In person and Remote Buttons -->
                <div class="modal fade" id="myModalMed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Medium</h4>
                            </div>
                            <div class="modal-body">
                                <p>The Medium buttons are where you specify where one can take the training
                                    resource.</p>
                                <p><b>Remote</b> is for resources where one can take online.</p>
                                <p><b>In Person</b> is for resources where one must go to a physical location to take
                                    the
                                    course.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-target="#myModal1"
                                        data-toggle="modal" data-dismiss="modal">
                                    Go Back
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Learning Type Modal for Text, Video, Book, Lecture, Interactive -->
                <div class="modal fade" id="myModalLearning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Learning Type</h4>
                            </div>
                            <div class="modal-body">
                                <p>The Learning Type buttons is where you specify what way does the resource teach a
                                    user.
                                    Some resources may need to be under multiple types.</p>
                                <p><b>Text</b> is for resources that teach by online text dialogs.</p>
                                <p><b>Video</b> is for resources that teach by watching a recording.</p>
                                <p><b>Book</b> is for resources that can be read by a physical item.</p>
                                <p><b>Lecture</b> is for resources that are taught by a teacher in a classroom format.
                                </p>
                                <p><b>Interactive</b> is for resources where one can be hands-on and interact with the
                                    resource to learn.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-target="#myModal1"
                                        data-toggle="modal" data-dismiss="modal">
                                    Go Back
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Keywords Modal  -->
                <div class="modal fade" id="myModalKey" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Keywords</h4>
                            </div>
                            <div class="modal-body">
                                The "Programs, Languages, and other Data Topics" dropdown is where you specify what
                                topics the resource teaches.
                                You can choose the common topics by clicking the related button or add your own topics
                                in the "Other" textbox.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-target="#myModal1"
                                        data-toggle="modal" data-dismiss="modal">
                                    Go Back
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Comments Modal -->
                <div class="modal fade" id="myModalCom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Comments</h4>
                            </div>
                            <div class="modal-body">
                                The "Put any comments here" input is where you can tell any other pieces of advice to
                                other users about the resource. (e.g. The location of the resource if it is physical,
                                how good the resource is, things to avoid while taking the resource)
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-target="#myModal1"
                                        data-toggle="modal" data-dismiss="modal">
                                    Go Back
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br>

        <!-- Form Input -->
        <form action="/insert" method="post" class="needs-validation" novalidate>
            <div class="row mb-2">
                <div class="col">
                    <input type="text" id="title" name="title" class="form-control" placeholder="Title"
                           aria-label="title" required>
                    <div class="invalid-feedback">
                        Please put in a Title.
                    </div>
                </div>
                <div class="col">
                    <input type="text" id="url" name="url" class="form-control" placeholder="URL" aria-label="url"
                           required>
                    <div class="invalid-feedback">
                        Please put in a URL.
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <input type="text" id="TCH" name="TCH" class="form-control" placeholder="Time Commitment (Hours)"
                           aria-label="TCH" required>
                    <div class="invalid-feedback">
                        Please put the Time Commitment.
                    </div>
                </div>
                <div class="col">
                    <input type="text" id="cost" name="cost" class="form-control" placeholder="Cost in $"
                           aria-label="cost" required>
                    <div class="invalid-feedback">
                        Please put in the Cost.
                    </div>
                </div>
                <div class="col" align="center">
                    <div class="btn-group d-flex" role="group" aria-label="Self paced or instructor led">
                        <input class="btn-check" type="radio" name="SPIL" id="SPILself" value="Self-Paced" checked>
                        <label class="btn btn-outline-secondary" for="SPILself">
                            Self-Paced
                        </label>
                        <input class="btn-check" type="radio" name="SPIL" id="SPILins" value="Instructor Led">
                        <label class="btn btn-outline-secondary" for="SPILins">
                            Instructor Led
                        </label>
                    </div>
                </div>
                <div class="col" align="center">
                    <div class="btn-group d-flex" role="group" aria-label="Does training offer Certificate or Degree"
                         id="CDP">
                        <input class="btn-check" type="checkbox" name="CDP" value="Certificate" id="CDPCert">
                        <label class="btn btn-outline-secondary" for="CDPCert">
                            Certificate
                        </label>
                        <input class="btn-check" type="checkbox" name="CDP" value="Degree" id="CDPDeg">
                        <label class="btn btn-outline-secondary" for="CDPDeg">
                            Degree
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="btn-group d-flex" role="group" aria-label="Barrier to Entry Select" id="BE">	
                    <input type="radio" class="btn-check" name="BE" id="BEBeg" autocomplete="off" value="Beginner"
                           checked>
                    <label class="btn btn-outline-secondary" for="BEBeg">Beginner</label>
                    <input type="radio" class="btn-check" name="BE" id="BEInter" autocomplete="off"
                           value="Intermediate">
                    <label class="btn btn-outline-secondary" for="BEInter">Intermediate</label>
                    <input type="radio" class="btn-check" name="BE" id="BEAdv" autocomplete="off" value="Advanced">
                    <label class="btn btn-outline-secondary" for="BEAdv">Advanced</label>
                    <input type="radio" class="btn-check" name="BE" id="BEExp" autocomplete="off" value="Expert">
                    <label class="btn btn-outline-secondary" for="BEExp">Expert</label>
 		</div> 
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="btn-group d-flex" role="group" aria-label="Public or DOD" id="PDOD">
                        <input type="radio" class="btn-check" name="PDOD" id="PDODP" autocomplete="off" value="Public"
                               checked>
                        <label class="btn btn-outline-secondary" for="PDODP">Public</label>
                        <input type="radio" class="btn-check" name="PDOD" id="PDODD" autocomplete="off" value="DOD">
                        <label class="btn btn-outline-secondary" for="PDODD">DOD</label>
                    </div>
                </div>
                <div class="col">
                    <input type="text" id="provider" name="provider" class="form-control"
                           placeholder="Service/Training Provider" aria-label="Provider" required>
                    <div class="invalid-feedback">
                        Please put in the Provider.
                    </div>
                </div>
                <div class="col">
                    <input type="text" id="BOO" name="BOO" class="form-control" placeholder="Location of Provider"
                           aria-label="Location of Provider" required>
                    <div class="invalid-feedback">
                        Please put in the Location of the Provider.
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="btn-group d-flex" role="group" aria-label="In Person or Remote" id="PR">
                        <input type="radio" class="btn-check" name="PR" id="PRR" autocomplete="off" value="Remote"
                               checked>
                        <label class="btn btn-outline-secondary" for="PRR">Remote</label>
                        <input type="radio" class="btn-check" name="PR" id="PRP" autocomplete="off" value="In Person">
                        <label class="btn btn-outline-secondary" for="PRP">In Person</label>
                    </div>
                </div>
                <div class="col">
                    <div class="btn-group  d-flex" role="group" aria-label="Learning Type" id="LT">
                        <input class="btn-check" type="checkbox" name="LT" value="Text" id="LTT">
                        <label class="btn btn-outline-secondary" for="LTT">Text</label>
                        <input class="btn-check" type="checkbox" name="LT" value="Video" id="LTV">
                        <label class="btn btn-outline-secondary" for="LTV">Video</label>
                        <input class="btn-check" type="checkbox" name="LT" value="Book" id="LTB">
                        <label class="btn btn-outline-secondary" for="LTB">Book</label>
                        <input class="btn-check" type="checkbox" name="LT" value="Lecture" id="LTL">
                        <label class="btn btn-outline-secondary" for="LTL">Lecture</label>
                        <input class="btn-check" type="checkbox" name="LT" value="Interactive" id="LTI">
                        <label class="btn btn-outline-secondary" for="LTI">Interactive</label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="collapsible" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <small class="text-muted" style="vertical-align: top;">Programs, Languages, and
                                        other Data Topics</small>
                                    <i class="arrow down arrow_pos"></i>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="btn-group d-flex row row-cols-lg-6 row-cols-auto" role="group"
                                         aria-label="Data Topic Select Menus">
                                        <input class="btn-check" type="checkbox" name="DTA" value="Data Science"
                                               id="DTADataSci">
                                        <label class="btn btn-outline-secondary" for="DTADataSci">Data Science</label>
                                        <input class="btn-check" type="checkbox" name="DTA" value="Tutorial"
                                               id="DTATut">
                                        <label class="btn btn-outline-secondary" for="DTATut">Tutorial</label>
                                        <input class="btn-check" type="checkbox" name="DTA" value="AI/Machine Learning"
                                               id="DTAAI">
                                        <label class="btn btn-outline-secondary" for="DTAAI">Machine Learning</label>
                                        <input class="btn-check" type="checkbox" name="DTA" value="Coding" id="DTACode">
                                        <label class="btn btn-outline-secondary" for="DTACode">Coding</label>
                                        <input class="btn-check" type="checkbox" name="DTA" value="Computer Skills"
                                               id="DTAComSkil">
                                        <label class="btn btn-outline-secondary" for="DTAComSkil">Computer
                                            Skills</label>
                                        <input class="btn-check" type="checkbox" name="DTA" value="Program Skills"
                                               id="DTAProSkil">
                                        <label class="btn btn-outline-secondary" for="DTAProSkil">Program Skills</label>
                                    </div>
                                    <div class="btn-group d-flex row row-cols-lg-6 row-cols-auto" role="group"
                                         aria-label="Language and Program Select Menus">
                                        <input class="btn-check" type="checkbox" name="LPS" value="Microsoft Office"
                                               id="LPSOffice">
                                        <label class="btn btn-outline-secondary" for="LPSOffice">Microsoft
                                            Office</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Excel" id="LPSExcel">
                                        <label class="btn btn-outline-secondary" for="LPSExcel">Excel</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Word" id="LPSWord">
                                        <label class="btn btn-outline-secondary" for="LPSWord">Word</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Flank Speed"
                                               id="LPSFlank">
                                        <label class="btn btn-outline-secondary" for="LPSFlank">Flank Speed</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="PowerPoint"
                                               id="LPSPower">
                                        <label class="btn btn-outline-secondary" for="LPSPower">PowerPoint</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="OneDrive"
                                               id="LPSOneD">
                                        <label class="btn btn-outline-secondary" for="LPSOneD">OneDrive</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Python" id="LPSPy">
                                        <label class="btn btn-outline-secondary" for="LPSPy">Python</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Java" id="LPSJava">
                                        <label class="btn btn-outline-secondary" for="LPSJava">Java</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Javascript"
                                               id="LPSJavas">
                                        <label class="btn btn-outline-secondary" for="LPSJavas">Javascript</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="C / C+" id="LPSC">
                                        <label class="btn btn-outline-secondary" for="LPSC">C/C++</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="R" id="LPSR">
                                        <label class="btn btn-outline-secondary" for="LPSR">R</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Julia" id="LPSJulia">
                                        <label class="btn btn-outline-secondary" for="LPSJulia">Julia</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Matlab" id="LPSMat">
                                        <label class="btn btn-outline-secondary" for="LPSMat">Matlab</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="LabVIEW"
                                               id="LPSLabv">
                                        <label class="btn btn-outline-secondary" for="LPSLabv">Labview</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Simulink"
                                               id="LPSSimu">
                                        <label class="btn btn-outline-secondary" for="LPSSimu">Simulink</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="SAS" id="LPSSAS">
                                        <label class="btn btn-outline-secondary" for="LPSSAS">SAS</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="COMSOL"
                                               id="LPSCOMSOL">
                                        <label class="btn btn-outline-secondary" for="LPSCOMSOL">COMSOL</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Rhino" id="LPSRhino">
                                        <label class="btn btn-outline-secondary" for="LPSRhino">Rhino</label>
                                    </div>
                                    <div class="row mx-auto mt-3">
                                        <input type="text" id="DTAOther" name="DTA" class="form-control"
                                               placeholder="Other" aria-label="Other">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <textarea class="form-control" id="comment" name="comment" placeholder="Put any comments here"
                              rows="3"></textarea>
                </div>
            </div>

            <!-- Button to insert data into database and call on submit Modal -->
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" id="submit" style="margin:20px" class="btn btn-secondary">Submit</button>
            </div>
        </form>

        <script>
        // Validation JS
            (function () {
              'use strict'

              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.querySelectorAll('.needs-validation')

              // Loop over them and prevent submission
              Array.prototype.slice.call(forms)
                .forEach(function (form) {
                  form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                      event.preventDefault()
                      event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                  }, false)
                })
            })()





        </script>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

