<style>.test{
    height: 200px;}
</style>

<!-- Call to Navigation Bar to show current page is active -->
<script>
    $('.nav-item-b a').addClass("active");
</script>


<div class="container overflow-hidden">
    <section class="specify">
        <form action="/comments" method="post" class="needs-validation" novalidate>

            <!-- Comment/Bug Textbox -->
            <div class="col-sm mb-2 mt-4">
                <textarea class="form-control test" type="text" id="bugs" name="comments" size="60"
                          placeholder="Comments or Bugs" required></textarea>
                <div class="invalid-feedback">Please input a comment or bug about the website.</div>
            </div>
            <div class="row justify-content-end mt-2 align-self-end">
                <div class="col col-sm-auto d-grid">
                    <table>
                        <td>

                            <!-- Button to call on Help Tutorial Modal -->
                            <span class="d-inline-block" data-toggle="modal" data-target="#myModal1">
                                <button type="button" class="btn" data-container="body" data-toggle="modal" id="help"
                                        disabled>
                                    <img src="images/Help_Icon.png" alt="help">
                                </button>
                            </span>

                            <!-- Contents of Help Tutorial Modal -->
                            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Tutorial Help</h4>
                                        </div>

                                        <div class="modal-body">
                                            If you have found any bugs or want any changes to the site, you can request
                                            it here. The Developers will read you request and see what can be done.  
                                      </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="submit" id='submit' class="btn btn-outline-secondary">Submit</button>
                        </td>

                        <script>
                        // Example starter JavaScript for disabling form submissions if there are invalid fields
                            (function () {
                              'use strict'

                              // Fetch all the forms we want to apply custom Bootstrap validation styles to
                              var forms = document.querySelectorAll('.needs-validation')

                              // Loop over them and prevent submission
                              Array.prototype.slice.call(forms)
                                .forEach(function (form) {
                                  form.addEventListener('submit', function (event) {
                                    if (!form.checkValidity()) {
                                      event.preventDefault()
                                      event.stopPropagation()
                                    }

                                    form.classList.add('was-validated')
                                  }, false)
                                })
                            })()

                        </script>
                    </table>
                </div>
            </div>
        </form>
    </section>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
