<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"><img src="https://www.navsea.navy.mil/Portals/103/banner_logo.png?ver=GRXsa8VLtHze-F8hQxcm5w%3d%3d" alt='logo'></a>
  <a class="navbar-brand" class="mx-auto"> <b>Database</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/">Query</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/get-data">Results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/insert">Add Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>

<div style="text-align:center;">
<h1 class="display-1">MongoDB</h1>
<p class="lead">A proof of concept UI for interfacing the database</p>
</div>

<link rel="stylesheet" type="text/css"  href="layouts/custom.css">

<div class="container overflow-hidden">
  <section class="specify">
    <h3>Search</h3>
      <form action="/specify" method="post">
	<div class="row">
	 <div class="col-sm-3">
	   <label for="form-select">Search Field</label>
             <select class="form-select" name="DTA">
                <option selected>Title</option>
                <option value="Certificate/Degree Program">Certificate/Degree Program</option>
                <option value="Data Topic Area">Data Topic Area</option>
                <option value="Programming Language">Programming Language</option>
                <option value="Barrier to Entry">Barrier to Entry</option>
                <option value="Comment">Comments</option>
             </select>
	 </div>
      
	 <div class="col-sm">  
	   <label for="SpefString">Search Terms</label>
           <input class="form-control" type="text" id="SpefString" name="SpefString" size="60">
         </div>
 
	</div>

        <div class="row justify-content-end mt-2 align-self-end"> 
	  <div class="col col-sm-auto d-grid">
	    <form action="/get-data">
            <button type="submit" class="btn btn-outline-secondary" >Submit</button>
          </div>
	</div>
     
   </form>
</section>
</div>


    
<div style="position: fixed; bottom: 0; width:100%; text-align: center">
<p>Distribution Statement  A:  Approved for Public Release; distribution unlimited.</p>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

