<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="margin-left: 10px"> <b>Database</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/"><b>Query</b></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/get-data">Results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/insert">Add Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>

<div style="text-align:center;">
<h1 class="display-1">MongoDB</h1>
<p class="lead">A proof of concept UI for interfacing the database</p>
</div>

<link rel="stylesheet" type="text/css"  href="layouts/custom.css">

<div class="container overflow-hidden">
  <section class="specify">
    <h3>Search</h3>
      <form action="/specify" method="post">
	<div class="row">
	 <div class="col-md-3">
	   <label for="form-select">Meta tags</label>
             <select class="form-select" name="DTA">
                <option selected>Title</option>
                <option value="URL">URL</option>
                <option value="Public/DOD">Public/DOD</option>
                <option value="Time Commitment (Hours)">Time Commitment (Hours)</option>
                <option value="Certificate/Degree Program">Certificate/Degree Program</option>
                <option value="Data Topic Area">Data Topic Area</option>
                <option value="Programming Language">Programming Language</option>
                <option value="Base of Operations">Base of Operations</option>
                <option value="Barrier to Entry">Barrier to Entry</option>
                <option value="Self Paced vs Instructor Led">Self Paced vs Instructor Led</option>
                <option value="Learning type">Learning type</option>
                <option value="In person vs Remote">In person vs Remote</option>
                <option value="Useful Training?">Useful Training?</option>
                <option value="Comment">Comment</option>
                <option value="Topics for Graphing">Topics for Graphing</option>
             </select>
	 </div>
         
	 <div class="col-md">  
	   <label for="SpefString">Search</label>
           <input class="form-control" type="text" id="SpefString" name="SpefString" size="60">
         </div>
 
	</div>

        <div class="row justify-content-end mt-2"> 
	  <div class="col-md-auto">
	    <form action="/get-data">
            <button type="submit" class="btn btn-secondary" >Submit</button>
          </div>
	</div>
     
   </form>
</section>
</div>




<div style="position: fixed; bottom: 0; width:100%; text-align: center">
<p>Distribution Statement  A:  Approved for Public Release; distribution unlimited.</p>
</div>
