<!-- Navigation bar function to highlight that Search is active -->
<script>
    $('.nav-item-a a').addClass("active");

</script>

<div class="text-center">
    <!-- Title Header -->
    <h1 class="display-1">Training Database</h1>
    <p class="lead">I guess just search for your trainings</p>
</div>

<link rel="stylesheet" type="text/css" href="layouts/custom.css">

<div class="container overflow-hidden">
    <section class="specify">
        <table>
            <td><h3>Search</h3></td>
            <td>
                <!-- Button to call on Help Modal -->
                <span class="d-inline-block" data-toggle="modal" data-target="#myModal1">
                    <button type="button" class="btn" data-container="body" data-toggle="modal" id="help" disabled>
                        <img src="images/Help_Icon.png" alt="help">
                    </button>
                </span>

                <!-- Contents of Help Modal -->
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Tutorial Help</h4>
                            </div>

                            <div class="modal-body">
                                <p>Enter the Training Resource you would like to acquire in "Search Terms".
                                Next, Specify how that search term is related in "Search Field". Finally, click "Submit"
                                to be shown a list of results.</p>
                                <p><b>Have resource of your own that you would like to add to the database?</b>
                                    <br>Click "Add Data" on the top of the page.</p>
                                <p><b>Want more resources on a certain topic?</b>
                                    <br>Click "Request" on the top of the page.</p>
                                <p><b>Found any bugs or want any general changes to the website?</b>
                                    <br>Click "Comments" on the top of the page.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </table>

        <form action="/specify" method="post">
            <div class="row">
                <!-- Search Field to specify to user where the search function wants to look -->
                <!-- Search Textbox -->
                <div class="col-sm">
                    <input class="form-control" type="text" id="SpefString" name="SpefString" placeholder="(e.g. Python, Data Science, Microsoft Office, MATLAB, Program Skills, Rhino)" size="60">
                </div>

            <!-- Search Submit Button -->
                <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 d-grid">
                    <form action="/get-data">
                        <button type="submit" class="btn btn-outline-secondary">Submit</button>
                    </form>
                </div>
            </div>
        </form>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

