<script>
    $('.nav-item-a a').addClass("active");

    $(function () {
        $('[data-toggle="popover"]').popover()
    })

    $("#help").button( "option", "disabled", true );
</script>

<div class="text-center">
    <h1 class="display-1">MongoDB</h1>
    <p class="lead">A proof of concept UI for interfacing the database</p>
</div>

<link rel="stylesheet" type="text/css" href="layouts/custom.css">

<div class="container overflow-hidden">
    <section class="specify">
        <table>
            <td><h3>Search</h3></td>
            <td>
                <span class="d-inline-block" data-toggle="popover"
                      data-content="Enter your desired terms and specify the field, then click Submit to show a list of resources.">
                    <button type="button" class="btn" data-container="body" data-toggle="popover"
                            data-placement="right" id="help">
                        <img src="images/Help_Icon.png" alt="help">
                    </button>
                </span>
            </td>
        </table>
        <form action="/specify" method="post">
            <div class="row">
                <div class="col-sm-3">
                    <label for="form-select">Search Field</label>
                    <select class="form-select" name="DTA">
                        <option selected>Title</option>
                        <option value="Certificate/Degree Program">Certificate/Degree Program</option>
                        <option value="Data Topic Area">Data Topic Area</option>
                        <option value="Programming Language">Programming Language</option>
                        <option value="Barrier to Entry">Barrier to Entry</option>
                        <option value="Comment">Comments</option>
                    </select>
                </div>

                <div class="col-sm">
                    <label for="SpefString">Search Terms</label>
                    <input class="form-control" type="text" id="SpefString" name="SpefString" size="60">
                </div>
            </div>

            <div class="row justify-content-end mt-2 align-self-end">
                <div class="col col-sm-auto d-grid">
                    <form action="/get-data">
                        <button type="submit" class="btn btn-outline-secondary">Submit</button>
                    </form>
                </div>
            </div>
</div>

</form>
</section>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

