<style>.test{
    height: 200px;}




</style>

<script>
    $('.nav-item-e a').addClass("active");




</script>


<div class="container overflow-hidden">
    <section class="specify">
        <form action="/request" method="post">
            <div class="col-sm mb-2 mt-4">
                <input class="form-control" type="text" id="request" name="request" size="60" placeholder="Request">
            </div>
            <div class="col-sm">
                <textarea class="form-control test" type="text" id="comments" name="comments" size="60"
                          placeholder="Comments"></textarea>
            </div>
            <div class="row justify-content-end mt-2 align-self-end">
                <div class="col col-sm-auto d-grid">
                    <table>
                        <td><span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                  title="Want to see more changes or training resources? Submit a Request Form here.">
                    <button type="button" class="btn" data-toggle="tooltip" disabled>
                     <img src="https://img.icons8.com/ios/26/000000/help.png" alt="help">
                    </button>
                    </span>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-outline-secondary">Submit</button>
                        </td>
                    </table>
                </div>
            </div>

        </form>
    </section>
</div>